<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.dailybabytrucker">
	
	<uses-permission android:name="android.permission.INTERNET" />
	
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="DailyBabyTrаcker"
		android:supportsRtl="true"
		android:theme="@style/Theme.Shrine">
		<activity android:name=".UI.activities.RegisterActivity"></activity>
		<activity android:name=".UI.activities.MyAccountActivity" />
		<activity
			android:name=".UI.activities.SettingsActivity"
			android:label="@string/title_activity_settings" />
		<activity android:name=".UI.activities.LoginActivity" />
		<activity android:name=".introwelcomeslider.WelcomeActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".UI.activities.MainActivity"
			android:label="@string/title_activity_welcome"
			android:theme="@style/Theme.AppCompat.NoActionBar" />
	</application>

</manifest>